<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <footer th:fragment="footer" class="mt-5">
        <div class="container text-center">
            <div class="d-flex justify-content-center gap-4 mb-3">
                <a href="https://github.com/JuliaDaniR" target="_blank" class="text-white fs-4 table-hover" title="GitHub"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/julia-daniela-rodriguez/" target="_blank" class="text-white fs-4 table-hover" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <p class="mb-1 fw-bold">&copy; 2024 Literalura.</p>
            <small class="text-secondary">Desarrollado con <i class="fa-solid fa-heart text-danger mx-1"></i> por <strong>Julia Daniela Rodriguez</strong>.</small>
        </div>
    </footer>
</body>
</html>
