<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <header th:fragment="header" class="modern-header glass-panel">
        <div class="d-flex align-items-center">
            <a th:href="@{/}" class="text-decoration-none d-flex align-items-center brand-link">
                <img th:src="@{/img/logo-literalura.png}" alt="Logo Icon" class="brand-favicon me-2">
            </a>
        </div>
        <div>
            <!-- Botón para abrir modal de filtros -->
            <button class="btn-modern" data-bs-toggle="modal" data-bs-target="#filtrosModal">
                <i class="fa-solid fa-filter me-2"></i> Explorar
            </button>
        </div>
    </header>
</body>
</html>
